.header {
    margin: 30px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: minmax(160px, auto) minmax(auto, 600px) minmax(270px, auto);
    justify-content: space-between;
    align-items: center;
}